@using AutoService.WEB.Models
@model AddNewDiscount
<div class="modal-content">
    <!-- Заголовок модального окна -->
    <div class="modal-header">
        <h5 class="modal-title">Добавление новой скидки на услугу</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- Основное содержимое модального окна -->
    @using (Html.BeginForm("AddNewDiscount", "AdminMenu", null, FormMethod.Post, new { @class = "validate" }))
    {
        @Html.AntiForgeryToken()
        <div class="modal-body form-horizontal">
            <div class="form-group">
                Размер скидки<br />
                @Html.EditorFor(model => model.DiscountValue, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                <label class="col-form-label">Услуга</label>
                @Html.DropDownListFor(model => model.ServiceId, ViewBag.Services as SelectList, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label class="col-form-label"> Дата начала акции</label>
                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                <label class="col-form-label"> Дата окончания акции</label>
                @Html.EditorFor(model => model.FinishDate, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <!-- Футер модального окна -->
        <div class="modal-footer ">
            <button class="btn btn-success" type="submit"><i class="mr-1 p-1 fa fa-plus fa-lg"></i>Добавить</button>
            <button type="button" class="btn btn-dark" data-dismiss="modal"><i class="mr-1 p-1 fa fa-window-close fa-lg"></i>Закрыть</button>
        </div>
    }
</div>
<script>
    $('.validate').validate({
        errorClass: "text-danger",
        rules: {
            DiscountValue: {
                required: true,
                number: true,
                range: [5, 90]
            },
            ServiceId: {
                required: true,
            },
            StartDate: {
                required: true
            },
            FinishDate: {
                required: true
            }
        },
        messages: {
            DiscountValue: {
                required: "Размер скидки не может быть пустым полем",
                minlength: "Заголовок не должен быть короче 10 символов",
                range: "Выберите значение между 5 и 90"
            },
            ServiceId: {
                required: "Выберите услугу",
            },
            StartDate: {
                required: "Выберите дату начала акции"
            },
            FinishDate: {
                required: "Выберите дату окончания акции"
            }
        }
    });
</script>