@using AutoService.WEB.Models
@model AddNewCarouselItemView

<div class="modal-content">
    <!-- Заголовок модального окна -->
    <div class="modal-header">
        <h5 class="modal-title">Новый слайд</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    @using (@Html.BeginForm("AddNewHomeCarouselItem", "AdminMenu", null, FormMethod.Post, new { @class = "validate" }))
    {
        <!-- Основное содержимое модального окна -->
        <div class="modal-body">

            @Html.AntiForgeryToken()
            <div class="form-group ">
                <i class="fa fa-bookmark mr-1 p-1"></i>@Html.LabelFor(model => model.Title, new { @class = "col-form-label" })
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                <i class="fa fa-book mr-1 p-1"></i>@Html.LabelFor(model => model.Description, new { @class = "col-form-label" })
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", style = "min-height:200px" })
            </div>
            <div class="form-group">
                <i class="fa fa-image mr-1 p-1"></i>@Html.LabelFor(model => model.ImageHref, new { @class = "col-form-label" })
                @Html.EditorFor(model => model.ImageHref, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                <i class="fa fa-newspaper-o mr-1 p-1"></i>@Html.LabelFor(model => model.NewsId, new { @class = "col-form-label" })
                @Html.DropDownListFor(m => m.NewsId, ViewBag.AllNews as SelectList, new { @class = "form-control" })
            </div>
        </div>
        <!-- Футер модального окна -->
        <div class="modal-footer ">
            <button class="btn btn-success" type="submit"><i class="mr-1 p-1 fa fa-plus fa-lg"></i>Добавить</button>
            <button type="button" class="btn btn-dark" data-dismiss="modal"><i class="mr-1 p-1 fa fa-window-close fa-lg"></i>Закрыть</button>
        </div>
    }
</div>
<script>
    $('.validate').validate({
        errorClass: "text-danger",
        rules: {
            Title: {
                required:true
            },
            Description: {
                required: true
            },
            ImageHref: {
                required: true,
                url:true
            },
            NewsId: {
                required: true
            }
        },
        messages: {
            Title: {
                required:"Необходимо заполнить данное поле"
            },
            Description: {
                required: "Необходимо заполнить данное поле"
            },
            ImageHref: {
                required: "Необходима ссылка на изображение",
                url: "Поле должно содержать ссылку"
            },
            NewsId: {
                required: "Необходимо выбрать новость для перехода"
            }
        }
    });
</script>