@model AutoService.WEB.Models.AdminMenuView
@{
    ViewBag.Title = "Меню администратора";
}

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
<!--Модалка сообщений-->
@if (ViewBag.StatusMessage != null)
{
    string message = ViewBag.StatusMessage as string;
    if (!message.Contains("Ошибка"))
    {
        @Html.Partial("SuccessOperation")
    }
    else
    {
        @Html.Partial("ErrorModalView")
    }

}
<h2 class="text-center m-2">Меню администратора</h2>
<ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#discount-section"><i class="fa fa-percent fa-lg p-1 mr-1"></i>Скидки</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#current-orders"><i class="fa fa-shopping-basket fa-lg p-1 mr-1"></i>Текущие заказы</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#archive"><i class="fa fa-archive fa-lg p-1 mr-1"></i>Архив</a>
    </li>
    <li>
        <a class="nav-link" data-toggle="tab" href="#news-tab"><i class="fa fa-newspaper-o fa-lg p-1 mr-1"></i>Слайды</a>
    </li>
    <li>
        <a class="nav-link" data-toggle="tab" href="#settings"><i class="fa fa-gears fa-lg p-1 mr-1"></i>Настройки сайта</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade show active" id="discount-section">
        @Html.Partial("DiscountsSection", Model.Discounts);
    </div>
    <div class="tab-pane fade" id="current-orders">
        @Html.Partial("CurrentOrdersSection", Model.CurrentOrders)
    </div>
    <div class="tab-pane fade" id="archive">
        @Html.Partial("ArchiveSection", Model.Archive)
    </div>
    <div class="tab-pane fade" id="news-tab">
        @Html.Partial("MainCarouselSection", Model.MainCarouselItems)
    </div>
    <div class="tab-pane fade" id="settings">
        @Html.Partial("SettingsSection", Model.SettingsView)
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/scripts/InvokeModalDialog.js")
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $('.validate').validate({
            errorClass: "text-danger",
            rules: {
                Title: {
                    required: true,
                    minlength: 10
                },
                Description: {
                    required: true,
                },
                ImageHref: {
                    required: true,
                    url: true
                },
                RouteHref: {
                    required: true,
                }
            },
            messages: {
                Title: {
                    required: "Поле с заголовком должно быть заполненно",
                    minlength: "Заголовок не должен быть короче 10 символов"
                },
                Description: {
                    required: "Поле описания слайда должно быть заполненно",
                },
                ImageHref: {
                    required: "Поле с ссылкой на изображение должно быть заполненно",
                    url: "Поле должно содержать ссылку"
                },
                RouteHref: {
                    required: "Поле с внешней ссылкой должно быть заполненно"
                }
            }
        });
    </script>
    <script>
        $(window).on('load', function () {
            $('#statusMessage').modal('show');
        });
    </script>
    <script>
        $('.carbrandform').validate({
            errorClass: "text-danger",
            rules: {
                ImageHref: {
                    required: true,
                    url: true
                },
                BrandName: {
                    required: true
                }
            },
            messages: {
                ImageHref: {
                    required: "Поле с ссылкой на изображение должно быть заполненно",
                    url: "Поле должно содержать ссылку"
                },
                BrandName: {
                    required: "Поле название бренда не может быть пустым"
                }
            }
        });
    </script>

}