@model AutoService.WEB.Models.AdminMenuView

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
<h2 class="text-center m-2">Меню администратора</h2>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#discount-section">Скидки</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#current-orders">Текущие заказы</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#archive">Архив</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade show active" id="discount-section">
        @Html.Partial("DiscountsSection", Model.Discounts);
    </div>
    <div class="tab-pane fade" id="current-orders">
        @Html.Partial("CurrentOrdersSection", Model.CurrentOrders)
    </div>
    <div class="tab-pane fade" id="archive">
        @Html.Partial("ArchiveSection", Model.Archive)
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/scripts/InvokeModalDialog.js")
}