@using AutoService.WEB.Models

@model ServicesSummaryAdminView

<div class="modal-content mx-auto">
    <!-- Заголовок модального окна -->
    <div class="modal-header">
        <h5 class="modal-title">Вы уверенны, что хотите удалить данный заказ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- Основное содержимое модального окна -->
    <div class="modal-body">
        <div>
            <b>Пользователь:</b> <a href="mailto:@Model.User.UserName" style="color:black">@Model.User.UserName</a>
        </div>
        <div>
            <b>Имя:</b> @Model.User.RealName
        </div>
        <div>
            <b>Номер:</b>
            @if (Model.User.PhoneNumber != null)
            {
                @Model.User.PhoneNumber
            }
            else
            {
                <text>Нет</text>
            }
        </div>
        <div>
            <b>Дата работ: </b>@Model.Date.ToShortDateString()
        </div>
        <div class="card w-100 border-0 mt-2">
            <div class="card-header text-center font-weight-bold" style="background-color:#dbd7d2"> Услуги</div>
            <ol class="card-body overflow-auto" style="max-height:300px">
                @foreach (var service in Model.ServicesList)
                {
                    <li>
                        @service.ToString()
                    </li>
                }
            </ol>
        </div>
    </div>
    <!-- Футер модального окна -->
    <div class="modal-footer">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-actions no-color">
                <input type="submit" value="Удалить" class="btn btn-outline-danger" />
            </div>
        }
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Закрыть</button>
    </div>
</div>