@model AutoService.WEB.Models.ServiceView

<div class="col-2 discountcard p-0 mr-auto ml-auto mt-2 mb-2">
    <img class="h-50 w-100" src="@Model.ServiceImageHref" alt="Alternate Text" />
    <div class="p-2 text-center">
        <div class="h5" style="min-height:50px">@Model.ServiceName</div>
        <p class="m-0">
            @Html.LabelFor(model => model.Discount.StartDate):
            @Model.Discount.StartDate.ToShortDateString()
        </p>
        <p class="m-0">
            @Html.LabelFor(model => model.Discount.FinishDate):
            @Model.Discount.FinishDate.ToShortDateString()
        </p>
        @Html.Partial("ServiceNameWithDiscount",Model.Discount.Value)
        <div class="btn-group">
            @Html.ActionLink("Продлить", "ExtendDiscount", "AdminMenu", new { id = Model.Discount.DiscountId }, new { @class = "btn btn-outline-dark dialog" })
            @Html.ActionLink("Убрать", "RemoveDiscount", "AdminMenu", new { Model.ServiceId }, new { @class = "btn btn-outline-dark dialog" })
        </div>
    </div>
</div>