@using AutoService.WEB.Models
@model List<HomeMainCarouselItem>

<div class="mx-auto col-xl-8 m-2">
    <div id="carousel" class="carousel slide h-100" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active myCarouselItem">
                @if (Model[0].NewsId == null)
                {
                    <img class="mx-auto d-block img-fluid w-100 myCarouselItem rounded" src="@Model[0].ImageHref" alt="Image" title="@Model[0].Title">
                }
                else
                {
                    <a href="@Url.Action("GetNews","NewsPage",new { Model[0].NewsId})"><img class="mx-auto d-block img-fluid w-100 myCarouselItem rounded" src="@Model[0].ImageHref" alt="Image" title="@Model[0].Title"></a>
                }
                <div class="carousel-caption">
                    <h5>@Model[0].Title</h5>
                    <p>@Model[0].Description</p>
                    <div>
                        <a href="@Url.Action("RemoveHomeCarouselItem","AdminMenu",new {Model[0].Id })" class="dialog btn btn-danger">
                            <i class="mr-1 p-1 fa fa-trash-o fa-lg"></i>Удалить
                        </a>
                        <a href="@Url.Action("EditHomeCarouselItem","AdminMenu",new {Model[0].Id })" class="dialog btn btn-info">
                            <i class="mr-1 p-1 fa fa-edit fa-lg"></i>Изменить
                        </a>
                    </div>
                </div>
            </div>
            @for (int i = 1; i < Model.Count; i++)
            {
                <div class="carousel-item myCarouselItem">
                    @if (Model[i].NewsId == null)
                    {
                        <img class="mx-auto d-block img-fluid w-100 myCarouselItem rounded" src="@Model[i].ImageHref" alt="Image" title="@Model[i].Title">
                    }
                    else
                    {
                        <a href="@Url.Action("GetNews","NewsPage",new { Model[i].NewsId})"><img class="mx-auto d-block img-fluid w-100 myCarouselItem rounded" src="@Model[i].ImageHref" alt="Image" title="@Model[i].Title"></a>
                    }
                    <div class="carousel-caption">
                        <h5>@Model[i].Title</h5>
                        <p>@Model[i].Description</p>
                        <div>
                            <a href="@Url.Action("RemoveHomeCarouselItem","AdminMenu",new {Model[i].Id })" class="dialog btn btn-danger">
                                <i class="mr-1 p-1 fa fa-trash-o fa-lg"></i>Удалить
                            </a>
                            <a href="@Url.Action("EditHomeCarouselItem","AdminMenu",new {Model[i].Id })" class="dialog btn btn-info">
                                <i class="mr-1 p-1 fa fa-edit fa-lg"></i>Изменить
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
        @if (Model.Count > 1)
        {
            <!-- Элементы управления -->
            <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Предыдущий</span>
            </a>
            <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Следующий</span>
            </a>
        }
    </div>
</div>
<div class="text-center m-2">
    <a href="@Url.Action("AddNewHomeCarouselItem","AdminMenu")" class="dialog btn btn-dark"><i class="fa fa-plus mr-1 p-1"></i>Добавить</a>
</div>