@using AutoService.WEB.Models
@model List<HomeMainCarouselItem>

<div class="col-8 mx-auto m-3">
    <div id="carousel" class="carousel slide bg-dark" data-ride="carousel">
        <div class="carousel-inner ">
            <div class="carousel-item maincarousel active">
                <img class="img-fluid align-self-center" src="@Model[0].ImageHref" alt="Image" title="@Model[0].Title">
                <div class="carousel-caption d-none d-md-block">
                    <h5>@Model[0].Title</h5>
                    <p>@Model[0].Description</p>
                    <div>
                        @Html.ActionLink("Remove", "RemoveHomeCarouselItem", new { Model[0].Id }, new { @class = "dialog btn btn-outline-danger" })
                        @Html.ActionLink("Edit", "EditHomeCarouselItem", new { Model[0].Id }, new { @class = "dialog btn btn-outline-info" })
                    </div>
                </div>
            </div>
            @for (int i = 1; i < Model.Count; i++)
            {
                <div class="carousel-item maincarousel">
                    <img class="img-fluid align-self-center" src="@Model[i].ImageHref" alt="Image">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>@Model[i].Title</h5>
                        <p>@Model[i].Description</p>
                        <div>
                            @Html.ActionLink("Remove", "RemoveHomeCarouselItem", new { Model[i].Id }, new { @class = "dialog btn btn-outline-danger" })
                            @Html.ActionLink("Edit", "EditHomeCarouselItem", new { Model[i].Id }, new { @class = "dialog btn btn-outline-info" })
                        </div>
                    </div>
                </div>
            }
        </div>
        @if (Model.Count > 1)
        {
            <!-- Элементы управления -->
            <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Предыдущий</span>
            </a>
            <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Следующий</span>
            </a>
        }
    </div>
</div>
<div class="text-center m-2">
    <a class="btn btn-outline-success" data-toggle="collapse" href="#addNewCarouselElement" role="button" aria-expanded="false" aria-controls="addNewCarouselElement">
        Добавить слайд
    </a>
</div>

@Html.Partial("AddNewCarouselItem", new AddNewCarouselItemView())