@model AutoService.WEB.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Сменить пароль";
}

<div class="card col-xl-5 col-md-7 col-sm-10 shadow-sm rounded mx-auto p-0 mt-4">
    <div class="card-header bg-primary text-white text-center"><h4>Форма изменения пароля</h4></div>
    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal validate", role = "form" }))
    {
        <div class="card-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group ">
                @Html.LabelFor(m => m.OldPassword, new { @class = "col-form-label" })
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "col-form-label" })
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-form-label" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="card-footer text-center">
            <button type="submit" class="btn btn-primary"><i class="fa fa-send fa-lg mr-1 p-1"></i>Изменить пароль</button>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
    $('.validate').validate({
        errorClass: "text-danger",
        rules: {
            OldPassword: {
                required: true
            },
            NewPassword:{
                required: true
            },
            ConfirmPassword: {
                required: true
            }
        },
        messages: {
            OldPassword: {
                required: "Введите старый пароль",
            },
            NewPassword: {
                required: "Введите новый пароль"
            },
            ConfirmPassword: {
                required: "Это поле не может быть пустым"
            }
        }
    });
</script>
}
