@model AutoService.WEB.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Сменить пароль";
}
<div class="modal-content">
    <!-- Заголовок модального окна -->
    <div class="modal-header">
        <h5 class="modal-title">@ViewBag.Title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- Основное содержимое модального окна -->
    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "validate" }))
    {
        @Html.AntiForgeryToken()
        <div class="modal-body">
            <div class="form-group">
                @Html.LabelFor(m => m.OldPassword, new { @class = "col-form-label" })
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "col-form-label" })
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-form-label" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <!-- Футер модального окна -->
        <div class="modal-footer ">
            <button class="btn btn-primary" type="submit"><i class="mr-1 p-1 fa fa-refresh fa-lg"></i>Изменить</button>
            <button type="button" class="btn btn-dark" data-dismiss="modal"><i class="mr-1 p-1 fa fa-window-close fa-lg"></i>Закрыть</button>
        </div>
    }
</div>
<script>
    $('.validate').validate({
        errorClass: "text-danger",
        rules: {
            OldPassword: {
                required: true
            },
            NewPassword: {
                required: true,
            },
            ConfirmPassword: {
                required: true,
                equalTo:"#NewPassword"
            }
        },
        messages: {
            OldPassword: {
                required: "Поле со старым паролем должно быть заполнено",
            },
            NewPassword: {
                required: "Поле с новым паролем должно быть заполнено",
            },
            ConfirmPassword: {
                required: "Поле с паролем не может быть пустым",
                equalTo: "Пароли не совпадают"
            }
        }
    });
</script>