@model AutoService.WEB.Models.IndexViewModel
@{
    ViewBag.Title = "Управление";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <div class="row" style="margin-top:50px">
        <div class="col-md-2">
            <ul class="nav nav-pills  flex-md-column">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#account">Аккаунт</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#cars">Мои автомобили</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#basket">Корзина</a>
                </li>
            </ul>
        </div>
        <div class="tab-content col-md-8 account">
            <div class="tab-pane fade show active" id="account">
                <h4>Изменение параметров учетной записи</h4>
                @Html.DisplayForModel()

                @if (Model.HasPassword)
                {
                    <a class="btn btn-primary" href="/Manage/ChangePassword" role="button">Смена пароля</a>
                }
                else
                {
                    @Html.ActionLink("Создать", "SetPassword")
                }
            </div>
            <div class="tab-pane fade" id="cars">
                <a>Автомобили:</a>
                <div class="row">

                    @if (@Model.Cars.ToList().Count == 0)
                    {
                        <strong>[Пусто]</strong>
                    }
                    else
                    {
                        foreach (var car in @Model.Cars)
                        {
                            <div class="col-md-4">
                                <div class="card">
                                    <img src="https://avatanplus.com/files/resources/mid/5782871912bc2155d5dfb9f5.png" class="card-img-top" alt="inprogress"><hr />
                                    <div class="card-body">
                                        <p class="card-text">
                                            Модель: @car.Model <br />
                                            Цвет: @car.Color<br />
                                            Год выпуска: @car.Year.ToShortDateString()<br />
                                        </p>
                                    </div>
                                </div>
                            </div>

                        }

                    }
                </div>
            </div>
            <div class="tab-pane fade" id="basket">
                Корзина
            </div>
        </div>
    </div>
</div>