@model AutoService.WEB.Models.Service
<div class="modal-content">
    <!-- Заголовок модального окна -->
    <div class="modal-header">
        <h5 class="modal-title">Вы уверенны, что хотите убрать услугу из корзины?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- Основное содержимое модального окна -->
    <div class="modal-body">
        <h5>@Model.ServiceName</h5>
        @{
            if (Model.Discount != null)
            {
                if (Model.Discount.isActive)
                {
                    <p>Цена(руб): @(Model.Price - Model.Price / 100 * (Model.Discount.Value))</p>
                }
                else
                {
                    <p>Цена(руб): @Model.Price</p>
                }

            }
            else
            {
                <p>Цена(руб): @Model.Price</p>
            }
        }

    </div>
    <!-- Футер модального окна -->
    <div class="modal-footer">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Удалить" class="btn btn-outline-danger" />
            </div>
        }
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Закрыть</button>
    </div>
</div>