@model AutoService.WEB.Models.SetPasswordViewModel
@{
    ViewBag.Title = "Создать пароль";
}
<div class="card col-xl-5 col-md-7 col-sm-10 shadow-sm rounded mx-auto p-0 mt-4">
    <div class="card-header bg-primary text-white text-center"> <h4>@ViewBag.Title</h4></div>
    @using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new { @class = "validate", role = "form" }))
    {
    <div class="card-body">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <p class="text-info">
            У вас нет локального имени пользователя и пароля для этого сайта. Добавьте локальную
            учетную запись, чтобы входить без использования внешнего имени входа.
        </p>
        <div class="form-group col-md-10 mx-auto">
            @Html.LabelFor(m => m.NewPassword, new { @class = "col-form-label" })
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
        <div class="form-group col-md-10 mx-auto">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-form-label" })
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="card-footer text-center">
        <button type="submit" class="btn btn-primary"><i class="fa fa-check fa-lg p-1 mr-1"></i>Задать пароль</button>
    </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $('.validate').validate({
            errorClass: "text-danger",
            rules: {
                NewPassword: {
                    required: true,
                },
                ConfirmPassword: {
                    required: true,
                    equalTo:"#NewPassword"
                }

            },
            messages: {
                NewPassword: {
                    required: "Введите пароль",
                },
                ConfirmPassword: {
                    required: "Необходимо ввести пароль",
                    equalTo:"Пароли не совпадают"
                }
            }
        });
    </script>
}