@using AutoService.WEB.Models
@model CarView
<div class="col-xl-3 col-md-5 col-sm-10  mt-2 mb-2">
    <div class="card shadow-sm h-100">
            <img class="card-img-top h-50" src="@Model.CarImageHref" alt="@Model.FullName" />
        <div class="card-body h-50">
            <div class="card-text">
                <label class="mr-1"><i class="mr-1 p-1 fa fa-modx fa-lg"></i>Модель: </label> @Model.Model<br />
                <label class="mr-1"><i class="mr-1 p-1 fa fa-paint-brush fa-lg"></i>Цвет: </label> @Model.Color<br />
                <label class="mr-1"><i class="mr-1 p-1 fa fa-calendar fa-lg"></i> Год: </label>@Model.Year<br />
            </div>
        </div>
        <div class="card-footer d-flex">
            <div class="btn-group mx-auto">
                <a class="btn btn-sm btn-outline-dark dialog" style="width:110px" href="@Url.Action("EditCar","Manage",new {id = Model.CarId })">
                    <i class="fa fa-edit mr-1 p-1"></i>Изменить
                </a>
                <a class="btn btn-sm btn-outline-dark dialog" style="width:110px" href="@Url.Action("RemoveCar","Manage",new {id = Model.CarId})">
                    <i class="fa fa-trash-o mr-1 p-1"></i>Удалить
                </a>
            </div>
        </div>
    </div>
</div>