@model AutoService.WEB.Models.IndexViewModel
<div class="tab-pane fade show active " id="account">

    <div class="card col-xl-5 rounded shadow-sm mx-auto mt-4 mb-4 border p-0">
        <div class="card-header bg-dark text-center" style="color:white">Аккаунт</div>
        <div class="card-body" style="font-size:18px">
            <div>
                <i class="fa fa-user mr-1 p-1"></i>@Html.LabelFor(m => m.RealName, new { @class = "font-weight-bold", style = "font-size:20px" })
                @Html.DisplayFor(m => m.RealName)
            </div>
            <div>
                <i class="fa fa-phone mr-1 p-1"></i>@Html.LabelFor(m => m.PhoneNumber, new { @class = "font-weight-bold", style = "font-size:20px" })
                @if (Model.PhoneNumber == null)
                {
                    <span>отсутствует</span>
                    <a class="dialog btn btn-outline-primary btn-sm"  title="Добавить телефон" href="@Url.Action("AddPhoneNumber")"><i class="fa fa-plus"></i></a>
                }
                else if (Model.PhoneNumberConfirmed)
                {
                    @Html.DisplayFor(m => m.PhoneNumber)<a class="dialog btn btn-outline-dark btn-sm ml-1" title="Изменить телефон" href="@Url.Action("AddPhoneNumber")"><i class="fa fa-refresh"></i></a>
                }
                else
                {
                    @Html.DisplayFor(m => m.PhoneNumber)<a class="btn btn-outline-info btn-sm ml-2" href="@Url.Action("VerifyPhoneNumber",new { phoneNumber = Model.PhoneNumber})">Подтвердить</a>
                }
            </div>
            <div>
                <i class="fa fa-send mr-1 p-1"></i>@Html.LabelFor(m => m.Email, new { @class = "font-weight-bold", style = "font-size:20px" })
                <a style="color:black" href="mailto:@Model.Email">@Model.Email</a>
            </div>
            <div>
                <label class="font-weight-bold" style="font-size:20px"><i class="fa fa-user-secret mr-1 p-1"></i>Пароль:</label>
                @if (Model.HasPassword)
                {
                    <a class="dialog btn btn-outline-dark btn-sm" title="Сменить пароль" href="@Url.Action("ChangePassword")"><i class="fa fa-refresh"></i></a>
                }
                else
                {
                    <a class="btn btn-outline-dark btn-sm" href="@Url.Action("SetPassword")">Изменить</a>
                }
            </div>
            <div class="d-flex">
                <label class="font-weight-bold" style="font-size:20px"><i class="fa fa-key mr-1 p-1"></i>Two-Factor Authentication:</label>
                @if (Model.TwoFactor)
                {
                    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal ml-1", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        <button type="submit" class="btn btn-secondary btn-sm"><i class="fa fa-toggle-off fa-lg p-1"></i></button>

                    }
                }
                else
                {
                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal ml-1", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-toggle-on fa-lg p-1"></i></button>
                    }
                }
            </div>
            @*<div>
                    <label>External Logins:</label>
                    @Model.Logins.Count [
                    @Html.ActionLink("Manage", "ManageLogins") ]
                </div>*@
        </div>
    </div>
</div>