@model AutoService.WEB.Models.VerifyPhoneNumberViewModel
@{
    ViewBag.Title = "Проверка номера телефона";
}

<div class=" mx-auto col-xl-5 mt-5">
    <div class="card shadow-sm rounded">
        <div class="card-header bg-dark text-center text-white"><i class="fa fa-mobile-phone fa-lg mr-1 p-1"></i>@ViewBag.Title.</div>

        @using (Html.BeginForm("VerifyPhoneNumber", "Manage", FormMethod.Post, new { @class = "validate" }))
        {
            <div class="card-body">
                @Html.ValidationSummary("", new { @class = "text-danger" })
                @Html.AntiForgeryToken()
                @Html.Hidden("phoneNumber", @Model.PhoneNumber)
                <h5>@ViewBag.Status</h5>
                <div class="form-group col-md-6 mx-auto ">
                    <span><i class="p-1 fa fa-code"></i></span> @Html.LabelFor(m => m.Code, new { @class = "col-form-label" })
                    @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
                </div>
            </div>
            <div class="card-footer text-center">
                <button type="submit" class="btn btn-dark"><i class="mr-1 p-1 fa fa-send-o fa-lg"></i>Отправить</button>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $('.validate').validate({
            errorClass: "text-danger",
            rules: {
                Code: {
                    required: true
                }
            },
            messages: {
                Code: {
                    required: "Введите поле Код",
                },
            }
        });
    </script>
}