@model AutoService.WEB.Models.JobVacancy

<div class="modal-content">
    <!-- Заголовок модального окна -->
    <div class="modal-header bg-dark">
        <h5 class="modal-title text-white">Новая вакансия </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- Основное содержимое модального окна -->
    @using (Html.BeginForm("Create", "Vacancies", FormMethod.Post, new { @class = "validate" }))
    {
        @Html.AntiForgeryToken()
        <div class="modal-body">
            <div class="form-group">
                <label class="col-form-label"><i class="fa fa-tag mr-1 p-1"></i>Название вакансии</label>
                @Html.EditorFor(model => model.VacancyName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                <label class="col-form-label"><i class="fa fa-pencil-square-o mr-1 p-1"></i>Описание вакансии</label>
                @Html.TextAreaFor(model => model.VacancyDescription, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label class="col-form-label"><i class="fa fa-rub mr-1 p-1"></i>Зарплата</label>
                @Html.EditorFor(model => model.Salary, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                <label class="col-form-label"><i class="fa fa-envelope mr-1 p-1"></i>Почта</label>
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                <label class="col-form-label"><i class="fa fa-phone mr-1 p-1"></i>Контактный номер</label>
                @Html.EditorFor(model => model.ContactPhone, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <!-- Футер модального окна -->
        <div class="modal-footer">
            <button class="btn btn-primary" type="submit"><i class="mr-1 p-1 fa fa-send-o fa-lg"></i>Добавить</button>
            <button type="button" class="btn btn-dark" data-dismiss="modal"><i class="mr-1 p-1 fa fa-window-close fa-lg"></i>Закрыть</button>
        </div>
    }
</div>
<script>
    $('.validate').validate({
        errorClass: "text-danger",
        rules: {
            VacancyName: {
                required: true,
            },
            VacancyDescription: {
                required: true,
            },
            Salary: {
                required: true,
            },
            Email: {
                required: true,
                email: true
            },
            ContactPhone: {
                required: true,
            }
        },
        messages: {
            VacancyName: {
                required: "Заполните поле с названием вакансии",
            },
            VacancyDescription: {
                required: "Заполните описание вакансии"
            },
            Salary: {
                required: "Заполните поле с описанием зарплаты",
            },
            Email: {
                required: "Заполните поле с почтой",
                email: "Поле должно содержать почтовый адрес"
            },
            ContactPhone: {
                required: "Заполните поле с номером телефона",
            }
        }
    });
</script>