@model AutoService.WEB.Models.JobVacancy

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="display-4 mt-3">Подробная информация о вакансии</h2>

<dl class="dl-horizontal m-2">
    <dt>
        Название вакансии:
    </dt>

    <dd>
        @Html.DisplayFor(model => model.VacancyName)
    </dd>

    <dt>
        Описание вакансии:
    </dt>

    <dd>
        @Html.DisplayFor(model => model.VacancyDescription)
    </dd>

    <dt>
        Зарплата:
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Salary)
    </dd>

    <dt>
        Почта:
    </dt>

    <dd>
        <a href="mailto:@Model.Email">@Model.Email</a>
    </dd>

    <dt>
        Контактный телефон:
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ContactPhone)
    </dd>
</dl>
<p class="mt-4">
    <a class="btn btn-dark" href="/Vacancies" role="button">Назад</a>
</p>