@using AutoService.WEB.Models
@model ServiceView

@{
    ViewBag.Title = "Новая услуга";
}

@using (Html.BeginForm("Create", "Services", FormMethod.Post, new { @class = "validate text-danger" }))
{
@Html.AntiForgeryToken()

<div class="form-horizontal col-6 mr-auto ml-auto mt-5">
    <h2 class="text-dark text-center">Новая услуга</h2>
    <div class="form-group">
        @Html.LabelFor(model => model.ServiceName, htmlAttributes: new { @class = "text-dark" })

        @Html.EditorFor(model => model.ServiceName, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group ">
        @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "text-dark" })

        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ServiceImageHref, htmlAttributes: new { @class = "text-dark" })

        @Html.EditorFor(model => model.ServiceImageHref, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        <div class="text-right">
            <input type="submit" value="Добавить" class="btn btn-dark" />
            @Html.ActionLink("Назад","Index",null,new { @class = "btn btn-dark"})
        </div>
    </div>
</div>
}
@section Scripts {
    @Scripts.Render("~/scripts/jquery.validate.min.js")
    <script>
        $('.validate').validate({
            rules: {
                ServiceName: {
                    required: true
                },
                Price:
                {
                    required: true,
                    min: 1
                },
                ServiceImageHref:
                {
                    required: true,
                    url:true
                }
            },
            messages: {
                ServiceName: {
                    required: "Поле \"Название услуги\" не может быть пустым"
                },

                Price: {
                    required: "Поле \"Цена\" не может быть пустым",
                    min: "Цена на услугу должна быть больше 0"

                },
                ServiceImageHref:
                {
                    required: "Поле с ссылкой на изображение не может быть пустым",
                    url: "Поле должно содержать ссылку"
                }
            }
        });
    </script>
}