@model AutoService.WEB.Models.Service

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="mt-3">Вы уверенны, что хотите удалить данную услугу?</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ServiceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            Изображение
        </dt>

        <dd>
            <img src="@Model.ServiceImageHref" class="m-2" height="300" width="450" />
        </dd>
    </dl>

    @using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-actions no-color mb-3">
        <input type="submit" value="Delete" class="btn btn-outline-danger" />
        <a href="/Services" class="btn btn-dark">Назад</a>
    </div>
    }
</div>