@model AutoService.WEB.Models.Service

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Вы уверенны, что хотите удалить данную услугу?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="card">
            <img class="card-img" style="max-height:250px" src="@Model.ServiceImageHref" alt="Alternate Text" />
            <div class="card-body">
                <div class="m-1">
                    <label class="mr-1"><i class="fa fa-bookmark mr-1 p-1"></i>Название:</label>@Model.ServiceName
                </div>
                <div class="m-1">
                    @if (Model.Discount != null)
                    {
                        <label class="mr-1"><i class="fa fa-rub mr-1 p-1"></i>Цена:</label>@Model.PriceWithDiscount
                    }
                    else
                    {
                        <label class="mr-1"><i class="fa fa-rub mr-1 p-1"></i>Цена:</label> @Model.Price
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

                <button class="btn btn-outline-danger" type="submit"><i class="fa fa-trash mr-1 p-1"></i>Удалить</button>
        }
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal"><i class="fa fa-window-close mr-1 p-1"></i>Закрыть</button>
    </div>
</div>