@using AutoService.WEB.Models
@model UserReview

<div class="col-sm-12 col-xl-6 col-md-8 m-3">
    <div class="card rounded shadow-sm">
        <div class="card-header bg-dark text-center text-white"><i class="fa fa-user-o mr-1 p-1"></i>Автор:  @Model.UserName</div>
        <div class="card-body" style="min-height:150px">
            <div class="card-text">
                @Model.ReviewText
            </div>
        </div>
        <div class="text-muted text-right p-2">
            <label class="mr-1"><i class="fa fa-calendar fa-lg p-1 mr-1"></i>Дата:</label>@Model.DateOfCreation.ToShortDateString()
        </div>
        @if (User.IsInRole("Admin"))
        {
            <div class="card-footer text-center">
                <a style="width:110px" class="dialog btn btn-dark btn-sm" href="@Url.Action("Delete", new { reviewId = Model.UserReviewId })">
                    <i class="fa fa-trash mr-1 p-1"></i>Удалить
                </a>
            </div>
        }
        else if (Model.OwnerId == ViewBag.UserId)
        {
            <div class="card-footer text-center">
                <a style="width:110px" class="dialog btn btn-dark btn-sm" href="@Url.Action("Delete", new { reviewId = Model.UserReviewId })">
                    <i class="fa fa-trash mr-1 p-1"></i>Удалить
                </a>
                <a style="width:110px" class="dialog btn btn-dark btn-sm" href="@Url.Action("Edit", new { reviewId = Model.UserReviewId })">
                    <i class="fa fa-pencil-square-o mr-1 p-1"></i>Изменить
                </a>
            </div>
        }
    </div>
</div>