@using AutoService.WEB.Models
@model UserReview
<div class="col-sm-10 col-xl-4 col-lg-4 col-md-5 border border-dark p-0 reviewitem mt-2 mb-2 mr-sm-auto ml-sm-auto mr-xl-3 ml-xl-3">
    <div class="bg-dark text-white h6 p-3">Автор: @Model.UserName</div>
    <div class="p-3 overflow-auto reviewtextarea">
        @Model.ReviewText
    </div>
    <div class="text-right text-muted p-2 mr-2 mt-2">
        @Model.DateOfCreation.ToShortDateString()
    </div>
    <div class=" btn-group p-3">
        @if (User.IsInRole("Admin"))
        {
          @Html.ActionLink("Удалить", "Delete", new { reviewId =Model.UserReviewId }, new { @class = "dialog btn btn-outline-secondary" })
        }
        else if (Model.OwnerId == ViewBag.UserId)
        {
          @Html.ActionLink("Изменить", "Edit", new { reviewId = Model.UserReviewId }, new { @class = "btn btn-outline-secondary" })
          @Html.ActionLink("Удалить", "Delete", new { reviewId = Model.UserReviewId }, new { @class = "dialog btn btn-outline-secondary" })
        }
    </div>
</div>