@using AutoService.WEB.Models
@model EditNews
@using (Html.BeginForm("EditNews", "NewsPage", FormMethod.Post, new { @class = "validate" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    <div class="col-xl-5 col-md-7 col-sm-12 mx-auto mt-4">
        <div class="card mx-auto">
            <div class="card-header bg-dark text-white">
                <h5 class="text-center">@Model.Title</h5>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <i class="fa fa-bookmark mr-1 p-1"></i>@Html.LabelFor(model => model.Title, new { @class = "col-form-label" })
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Title, null, new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <i class="fa fa-book mr-1 p-1"></i>@Html.LabelFor(model => model.NewsText, new { @class = "col-form-label" })
                    @Html.TextAreaFor(model => model.NewsText, new { @class = "form-control", rows = "10" })
                    @Html.ValidationMessageFor(model => model.NewsText, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="card-footer text-center">
                <button class="btn btn-outline-dark"><i class="fa fa-save mr-1 p-1"></i>Сохранить</button>
                <a class="btn btn-outline-dark" href="@Url.Action("Index", "NewsPage")"><i class="fa fa-window-close mr-1 p-1"></i>Назад</a>
            </div>
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}