<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/jquery-3.4.1.min.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3 ">
        <a class="navbar-brand" href="/">
            AutoService
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Services">Услуги</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Vacancies">Вакансии</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ContactInfo">Контакты</a>
                </li>
                <li>
                    <a class="nav-link" href="/UserRewiews">Отзывы</a>
                </li>

                @if (User.IsInRole("Admin"))
                {
                <li>
                    <a class="nav-link" href="@Url.Action("Index","AdminMenu")">Настройки</a>
                </li>

                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>
    <div class="container-fluid" style="min-height:100%">
        @RenderBody()
    </div>
    <!-- Footer -->
    <footer class="bg-dark text-center p-2 text-white">
        &copy;2019 - 2020 Все права защищены.
    </footer>

    @RenderSection("scripts", required: false)
</body>
</html>