@model AutoService.WEB.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();

    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        <a class="btn btn-outline-dark" href=@Url.Action("Register") title="Регистрация">Регистрация</a>
        foreach (AuthenticationDescription p in loginProviders)
        {
            if (p.AuthenticationType == "Google")
            {
                <button type="submit" class="btn btn-outline-dark externalLogginButton" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Войти с помощью учетной записи @p.Caption"><i class="fa fa-google fa-lg"></i></button>
            }
            else if (p.AuthenticationType == "Facebook")
            {
                <button type="submit" class="btn btn-outline-dark externalLogginButton" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Войти с помощью учетной записи @p.Caption"><i class="fa fa-facebook fa-lg"></i></button>
            }
            else
            {
                <button type="submit" class="btn btn-outline-dark" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Войти с помощью учетной записи @p.Caption">@p.AuthenticationType</button>
            }

        }
    }
}
