@using AutoService.WEB.Models
@model LoginViewModel
@{
    ViewBag.Title = "Выполнить вход";
}

<div class="col-md-8 mx-auto mt-3">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form" }))
    {
        @Html.ValidationSummary(false,"",new { @class="text-left text-danger"});
        @Html.AntiForgeryToken()
        <h1 class="h3 mb-3 font-weight-normal">Авторизация</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control ", placeHolder = "Email", id = "inputEmail", type = "email" })
        <label for="inputPassword" class="sr-only">Password</label>
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeHolder = "Password", id = "inputPassword", type = "password" })
        <div class="row justify-content-around mb-2">
            <div>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>
            <div class="d-inline-block" style="right:0">
                <a href="@Url.Action("ForgotPassword")" style="color:black">Забыли пароль?</a>
            </div>
        </div>
        <button class="btn btn-lg btn-dark btn-block" type="submit">Войти</button>
    }
    <div class="mx-auto text-center mt-3">
        <div class="h5 mb-3">Нет аккаунта?<br /> Зарегистрируйтесь или войдите при помощи соц. сетей.</div>
        <div class="mx-auto" style="max-width:400px">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}