@model AutoService.WEB.Models.VerifyCodeViewModel
@{
    ViewBag.Title = "Проверить";
}
<div class="mt-3">
    <h2 class="text-center m-2">@ViewBag.Title</h2>
    <div class="col-xl-5 col-md-7 col-sm-12 mx-auto">
        <div class="card shadow-sm rounded">
            <div class="card-header bg-dark text-center"><h5>Введите проверочный код</h5></div>
            @using (Html.BeginForm("VerifyCode", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("provider", Model.Provider)
                @Html.Hidden("rememberMe", Model.RememberMe)
                <div class="card-body">
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group ">
                        <i class="fa fa-code mr-1 p-1"></i>@Html.LabelFor(m => m.Code, new { @class = "col-form-label" })
                        @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.CheckBoxFor(m => m.RememberBrowser)
                        @Html.LabelFor(m => m.RememberBrowser)
                    </div>
                </div>
                <div class="card-footer text-center">
                    <button class="btn btn-dark" type="submit">
                        <i class="fa fa-send mr-1 p-1"></i>Отправить
                    </button>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}