@{
    ViewBag.Title = "Главная";
}
@model AutoService.WEB.Models.HomeView

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<div class="row m-3">
    <!--Главная карусель-->
    @Html.Partial("MainCarousel", Model.HomeMainCarouselItems)
    <!--БлокСкидки-->
    @if (Model.Discounts.Count > 0)
    {
        @Html.Partial("DiscountCarousel", Model.Discounts)
    }
</div>
<!--Автобренды-->

@Html.Partial("BrandCarousel", Model.CarBrands)
@section Scripts {
    @Scripts.Render("~/scripts/InvokeModalDialog.js")
    @Scripts.Render("~/scripts/owl.carousel.js")
    @Scripts.Render("~/scripts/Script.js")
}