@model List<AutoService.WEB.Models.Slide>

<div class="mx-auto col-xl-8 m-2">
    <div id="carousel" class="carousel slide h-100" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active myCarouselItem">
                <a href="@Url.Action("GetNews","NewsPage", new { newsId = Model[0].NewsId})"><img class="mx-auto d-block img-fluid w-100 myCarouselItem rounded" src="@Model[0].ImgHref" alt="Image" title="@Model[0].SlideTitle"></a>
                <div class="carousel-caption">
                    <h5>@Model[0].SlideTitle</h5>
                    <p>@Model[0].SlideDescription</p>
                </div>
            </div>
            @for (int i = 1; i < Model.Count; i++)
            {
        <div class="carousel-item myCarouselItem">
            <a href="@Url.Action("GetNews","NewsPage", new { newsId = Model[i].NewsId})"><img class="mx-auto d-block img-fluid w-100 myCarouselItem rounded" src="@Model[i].ImgHref" alt="Image" title="@Model[0].SlideTitle"></a>
            <div class="carousel-caption">
                <h5>@Model[i].SlideTitle</h5>
                <p>@Model[i].SlideDescription</p>
            </div>
        </div>
            }
        </div>
        @if (Model.Count > 1)
        {
            <!-- Элементы управления -->
            <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Предыдущий</span>
            </a>
            <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Следующий</span>
            </a>
        }
    </div>
</div>