@using AutoService.WEB.Models
@model AddNewContactView
@{
    ViewBag.Title = "AddNewInfo";
}

<h2>AddNewInfo</h2>
<div class="col-7 mr-auto ml-auto border border-dark p-2">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <p class="form-group">
            @Html.DropDownListFor(model => model.Type, ViewBag.Types as SelectList, new { @class = "form-control" })
        </p>
        <p class="form-group">
            @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
        </p>
        <div class="text-right form-group">
            <button class="btn btn-outline-dark" type="submit">Добавить</button>
            @Html.ActionLink("Назад", "Index", "ContactInfo", htmlAttributes: new { @class = "btn btn-outline-dark" })
        </div>
    }
</div>