@using AutoService.WEB.Models
@model EditContactInformationView
@{
    ViewBag.Title = "Изменение контактной информации";
}

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
@if (ViewBag.StatusMessage != null)
{
    string message = ViewBag.StatusMessage as string;
    if (!message.Contains("Ошибка"))
    {
        @Html.Partial("SuccessOperation")
    }
    else
    {
        @Html.Partial("ErrorModalView")
    }

}
<div class="col-xl-7 col-md-8 col-sm-10 mx-auto mt-4 mb-4 p-0">
    <div class="card rounded shadow-sm">
        <h4 class="card-header bg-dark text-center text-white">Контактная информация <a class="btn btn-primary dialog btn-sm" href="@Url.Action("AddNewInfo")"><i class="fa fa-plus"></i></a></h4>
        <div class="card-body">
            <div class="row justify-content-center">
                @foreach (var item in Model.ContactItems)
                {
                    @Html.Partial("ContactItemView", item)
                }
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/scripts/InvokeModalDialog.js")
    @Scripts.Render("~/scripts/jquery.validate.min.js")
    <script>
        $(window).on('load', function () {
            $('#statusMessage').modal('show');
        });
    </script>
}