@using AutoService.WEB.Models
@model EditContactInformationView

<div>
    <table class="table table-dark mr-auto ml-auto mt-2 col-7 ">
        <tr class="bg-dark text-white text-center">
            <td>Тип</td>
            <td>Значение</td>
            <td>Состояние</td>
            <td>Действия</td>
        </tr>
        @foreach (var item in Model.ContactItems)
        {
            <tr class="bg-secondary">
                <td>@item.Name</td>
                <td>@item.Value</td>
                <td class="text-center">
                    @if (@item.isActive)
                    {
                        <a class="btn btn-success btn-circle"></a>
                    }
                    else
                    {
                        <a class="btn btn-danger btn-circle"></a>
                    }
                </td>
                <td class="text-center">
                    @Html.ActionLink("Удалить", "RemoveItem", new { itemId = item.Id }, new { @class = "btn btn-dark" })
                    @Html.ActionLink("Изменить", "EditItem", new { itemId = item.Id }, new { @class = "btn btn-dark" })
                    @if (@item.isActive)
                    {
                        @Html.ActionLink("Отключить", "SwitchStatus", new { itemId = item.Id }, new { @class = "btn btn-dark" })
                    }
                    else
                    {
                        @Html.ActionLink("Включить", "SwitchStatus", new { itemId = item.Id }, new { @class = "btn btn-dark" })
                    }
                </td>
            </tr>
        }
    </table>
    <div class="text-right mr-auto ml-auto col-7 p-0 mb-2 mt-2">
        <a class="btn btn-dark" data-toggle="collapse" href="#AddNewInfoForm" role="button" aria-expanded="false" aria-controls="collapseExample">
            Добавить
        </a>
    </div>
</div>
<div class="collapse m-2" id="AddNewInfoForm">
    @Html.Partial("AddNewInfo", Model.AddNewContactView)
</div>
@section Scripts {
    @Scripts.Render("~/scripts/InvokeModalDialog.js")
    @Scripts.Render("~/scripts/jquery.validate.min.js")
<script>
$(".validate").validate();
</script>
}