@model AutoService.WEB.Models.ContactView
@{
    ViewBag.Title = "Контактная информация";
}

    <h2 class="display-4 text-center">
        Контактная информация
        @if (User.IsInRole("Admin"))
        {
            <a class="btn btn-dark" href="@Url.Action("EditContacts", "ContactInfo")">
                <i class="fa fa-gear fa-lg"></i>
            </a>
        }
    </h2>

<div class="row d-flex">
    <div class="col-xl-7 col-sm-12 ml-xl-auto mr-sm-0 ml-sm-0 p-1">
        <div class="m-3 text-center">
            <iframe src="@Model.YandexFrameSrc" class="w-100 h-100" frameborder="1" allowfullscreen="true" style="min-height:400px"></iframe>
            <div class="input-group text-center m-1 mx-auto" title="Адрес">
                <div class="input-group-prepend">
                    <div class="input-group-text text-center">
                        <i class="fa fa-map-marker"></i>
                    </div>
                </div>
                <div class="form-control">
                    @Model.Address
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 p-3">
        <dl class="text-md-center text-xl-left text-sm-center">
            <dt class="h4">Мы в соц сетях</dt>
            <dd>
                <a class="mr-2" href="@Model.VKHref"><img title="VK" src="@Model.VKImageHref" height="70" width="70"></a>
                <a class="mr-2" href="@Model.FacebookHref"><img title="Facebook" src="@Model.FacebookImageHref" height="70" width="70"></a>
                <a class="mr-2" href="@Model.InstagramHref"><img title="Instagram" src="@Model.InstagramImageHref" height="70" width="70"></a>
            </dd>
            <dt class="h4">
                <i class="fa fa-phone-square"></i> Телефоны
            </dt>
            <dd>
                @foreach (var item in Model.ContactPhones)
                {
                    <p>@item</p>
                }
            </dd>
            <dt class="h4">
                <i class="fa fa-envelope-square"></i> Почта
            </dt>
            <dd>
                @foreach (var item in Model.ContactEmails)
                {
                    <a style="color:black" href="mailto:@item">@item</a><br />
                }
            </dd>
        </dl>
    </div>
</div>